@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.ft {
    font-family: 'Poppins', sans-serif;

}

.ft2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}

body {
    overflow-x: hidden;
}